html {
    overflow-y: scroll;
}

.list-item-delete {
    cursor: pointer;
}

.new-day {
    display: none;
}

.review-week {
    display: none;
}

.dayCard {
    display: block !important;
}

.card-header {
    cursor: pointer;
}

.statsContainer {
    float: left;
}

.cardContainer {
    float: right;
}